*{
    margin:0px;
    padding:0px;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Inter';
}

/*======== Banner part start =========*/
#banner{
    position:relative;
    background: url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top:165px;
    padding-bottom: 175px;
    margin-bottom: 130px;
}
#banner::after{
    content: '';
    position:absolute;
    background: rgb(0 0 0 / 44%);
    top:0px;
    left:0px;
    width:100%;
    height: 100%; 
}
.container{
    width:1140px;
    margin: 0 auto;
}
.banner-part {
    position: relative;
    z-index:9999;
    text-align: center;
    padding-left: 160px;
    padding-right: 160px;
}
.banner-part h1{
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    
}
.banner-part h1 span{
    color:orange;
}
.banner-part p {
    font-family: 'Poppins';
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    color: #e1e1e1;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
}
.banner-part a {
    font-family: 'Poppins';
    padding: 15px 35px;
    background: #FFA500;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
    transition: all linear .2s;
}
.banner-part a:hover{
    border-radius: 25px 0px 25px 0px;
}
/*======== Donate today part start =========*/

.donate-part{
    text-align: center;
}
.donate-text h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
}
.donate-text p {
    padding: 15px 270px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #3e3e3e;
    margin-bottom: 50px;
}

.money-part {
    display: flex;
    justify-content: space-evenly;
    height: 190px;
}
.money-part h1 {
    color: #707070;
    padding: 35px 20px;
    margin-bottom: 60px;
    transition: all linear .3s;
    font-size: 42px;
}
.money-part h1:hover {
    color: #FFA500;
    border: 4px solid #FFA500;
    background: #fde8e8;
    cursor: pointer;
}
.input-part {
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 50px;
}
.input-part::after {
    content: '';
    position: absolute;
    bottom: 0;
    border: 1px solid #c7c7c7;
    width: 89%;
    left: 65px;
}
.input-part input {
    font-size: 30px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 60px;
}
.input-part placeholder{
    color:#121212;
}
.donate-button{
    margin-bottom: 130px;
}
/*======== Food family part start =========*/
.food-family{
    display: flex;
}
.food-part1{
    width:390px;
    background: #e1fcff;
    margin-bottom:130px;
    margin-left: 30px;
}
.food-part1:first-child {
    margin-left: inherit;
}
.food-text1 h1{
    font-size: 24px;
    font-family: 'poppins';
    font-weight: 600;
    padding-top:20px;
    padding-bottom: 15px;
}
.food-text1 p{
    font-family: 'poppins';
    font-weight: 400;
    line-height:25px;
}
.food-text1 {
    padding: 65px 20px;
}
.food-bg1{
    background:#ffe4e4;
}
.food-bg2{
    background:#FFF4C8;
}

/*----======= lives part start */
.lives-part{
    display: flex;
    margin-bottom: 100px;
}
.lives-text{
    width:545px;
}
.lives-text h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 30px;
}
.lives-text p {
    font-family: 'poppins';
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    padding-bottom: 40px;
}
.lives-text a {
    background: #FFA500;
    font-weight:700;
    padding: 20px 18px;
    color: #ffff;
    font-size: 20px;
    border-radius:10px;
    transition: all linear .2s;
}
.lives-text a:hover{
    border-radius: 30px 0px 30px 0px;
}
.lives-img {
    margin-left: 50px;
    width:545px;
}
.lives-img img {
    width: 100%;
    height: 407px;
}
.margin-cut{
    margin-left: inherit;
}
.margin-add{
    margin-left: 50px;
    height: 100%;
}
/*======= place part start ======= */

#place-main{
    margin-bottom:100px;
}
.place-text {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.place-text h1{
    font-size: 42px;
    font-family: 'poppins';
    font-weight: 700;
    padding-top:20px;
    padding-bottom: 15px;
}
.place-text p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #3e3e3e;
    margin-bottom: 30px;
}
.place-image-part{
    display: flex;
}
.place-img1{
    margin-left: 10px;
    width:30%;
    position:relative;
    top:0;
    left:0;
}
.overlay {
    position: absolute;
    background: linear-gradient(to bottom,rgba(41,53,65,0) 0,rgba(41,53,65,.8) 50%,#293541 100%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57%;
    transition: all linear .3s;
    z-index: 9999;
}
.place-img1:hover .overlay{
    height: 80%;
}
.overlay h1 {
    text-align: center;
    margin-top: 70px;
    color: #FFFFFF;
    padding-bottom: 14px;
    font-size: 28px;
}
.overlay h2 {
    text-align: center;
    opacity:0;
    transition: all linear .3s;
}
.overlay h2 a {
    color: #FFFFFF;
    font-size: 22px;
    background: #FFA500;
    padding: 10px 30px;
    transition: all linear .3s;
    border-radius: 0px 20px 0px 20px;
}
.overlay h2 a:hover {
    box-shadow: 0px 0px 15px #ffff;
    border-radius: 20px 2px 20px 2px;
}
.place-img1 img {
    width: 100%;
    height: 270px;
}
.place-img1:hover h2 {
    opacity: 1;
    color: #FFFFFF;
    font-size: 26px;
    padding: 10px 13px;
    border-radius: 10px;
    transition: all linear .3s;
}


/*======= email part start ======= */
#update-main{
    margin-bottom: 100px;
}
.email-part {
    width: 809px;
    margin: 0 auto;
    background: #FFE4E4;
    padding: 75px 21px;
}
.email-part2{
    width:200px;
    display: flex;
    margin-left: 25%;
}
.email-text{
    text-align: center;
}
.email-text h3 {
    background:#D9D9D9;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 18px;
    color:#9b8f8f;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 210px;
}
.email-subs h3 {
    background: #FFA500;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 18px;
    color: #ffff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
    transition: all linear .2s;
}
.email-subs h3:hover{
    border-radius: 20px 0px 20px 0px;
}
/* ========footer part start===== */
#footer-main{
    background: #000;
    padding-top:35px;
    padding-bottom:35px;
}
.footer-text h1{
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    color:#FFA500;
    text-align: center;
}
.footer-text p{
    font-size: 14px;
    color:#D9DBE1;
    text-align: center;
}















/*======== Banner part start =========*/